$colors: (
  plain: (
    bg: #ffffff,
    text: #1e1d25,
    text-secondary: #4e4c62,
    text-disabled: #8f8da5,
    text-accent: #ff543c,
    text-link: #2805ff,
    action-primary: #271614,
    action-primary-text: #fdfdfd,
    action-primary-hover: #793128,
    action-primary-active: #a94235,
    action-secondary: #271614,
    action-secondary-text: #271614,
    action-secondary-hover: #ffb4aa40,
    action-secondary-active: #ffb4aabf,
    input-bg: #eeeef1,
  ),
  tint: (
    bg: #fff8f5,
    text: #c31902,
    text-secondary: #9c5557,
    text-accent: #ff543c,
    text-link: #2805ff,
    action-primary: #271614,
    action-primary-text: #fdfdfd,
    action-primary-hover: #793128,
    action-primary-active: #a94235,
    action-secondary: #271614,
    action-secondary-text: #271614,
    action-secondary-hover: #ffb4aa40,
    action-secondary-active: #ffb4aabf,
    input-bg: #f5cdce,
  ),
  general: (
    card-border: rgba(0, 0, 0, 0.1),
    card-shadow: '0 5px 40px #0000001a, inset 0 2px 0 -1px #ffffff80',
  ),
);

$colors-dark: (
  plain: (
    bg: #0f0f0f,
    text: #ffe6e2,
    text-secondary: #bba8a5,
    text-accent: #ff543c,
    text-link: #68e4ff,
    action-primary: #ffb4aa,
    action-primary-text: #c54d3c,
    action-primary-hover: #de8679,
    action-primary-active: #a94235,
    action-secondary: #ffb4aa,
    action-secondary-text: #ffb4aa,
    action-secondary-hover: #ffb4aa40,
    action-secondary-active: #ffb4aabf,
    input-bg: #271614,
  ),
  tint: (
    bg: #271614,
    text: #ec8172,
    text-secondary: #c85b4d,
    text-accent: #ff543c,
    text-link: #68e4ff,
    action-primary: #ffb4aa,
    action-primary-text: #c54d3c,
    action-primary-hover: #de8679,
    action-primary-active: #a94235,
    action-secondary: #ffb4aa,
    action-secondary-text: #ffb4aa,
    action-secondary-hover: #ffb4aa40,
    action-secondary-active: #ffb4aabf,
    input-bg: #0f0f0f,
  ),
  general: (
    card-border: rgba(255, 255, 255, 0.1),
    card-shadow: '0 5px 40px #0000008a, inset 0 2px 0 -1px #ffffff80',
  ),
);
